<app-header></app-header>
<h1>Todo App</h1>

<input type="text" placeholder="Enter todo" [(ngModel)]="newTodo" />

<!-- Show ADD button when NOT editing -->
<button *ngIf="!isEditing" (click)="addTodo()">Add</button>

<!-- Show UPDATE button when editing -->
<button *ngIf="isEditing" (click)="updateTodo()">Update</button>
bangaddd
<ul>
  <li *ngFor="let todo of todos;let i=index;">
    {{ i+1 }} - {{ todo.text }}

    <!-- Edit button -->
    <button (click)="startEdit(todo)">✏️ Edit</button>

    <!-- Delete button -->
    <button (click)="deleteTodo(todo.id)">❌ Delete</button>
  </li>
</ul>
